<% if(success_msg!='') { %>
<h2>
    <%= success_msg %>
</h2>
<% } %>

<% if(error_msg!='') { %>
<h2>
    <%= error_msg %>
</h2>
<% } %>

<% if(error!='') { %>
    <h2>
        <%= error %>
    </h2>
    <% } %>
