<h1>Instructions</h1>

<form action='/logout' method='GET'>
    <div>
        <button type="submit">Logout</button>
    </div>
</form>

<form action='/game' method='GET'>
    <div>
        <button type="submit">Start</button>
    </div>
</form>

<form action='/remove' method='GET'>
    <div>
          <button type="submit">Remove</button>
    </div>
</form>
