body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    
  * {
    box-sizing: border-box;
    }
    
  .bg-image {
    background-image: url("../abc.jpg");
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height:125%;
    background-repeat: repeat;
    background-size: cover;
    }
    
  .one {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 50px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    }
    
  .two {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    background-color: rgb(0,0,0); 
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    }
  
  .three {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 50px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: right;
    }
    
  .button{
    width:150px;
    height:50px;
    border:2px solid #ee10ab;
    background-color: white;
    color: black;
    float:right;
    text-align: left;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:5px 0px 10px 940px;
    }
  
  .button a{
    font-family:'Times New Roman';
    font-size:25px;
    text-align: center;
    color:black;
    text-decoration:none;
    padding-left: 10%;
    padding-top: 5%;
    transition:all .5s ease;
    z-index:1;
    position: absolute;
    }
    
  .eff{
    width:150px;
    height:50px;
    left:-150px;
    background:#ee10ab;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
    }
    
  .button:hover .eff{
    left:0;
    color:white;
    }
    
  .button:hover a{
    color:white;
    }